<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>User Name {{username}}</p>

<ul class="people_list">
  {{#each photos}}
    <li>title = {{this.title}}  description = {{this.description}}</li>
  {{/each}}
</ul>
